@model Group8.Models.PGC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PGC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PGC_First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGC_First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGC_Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGC_Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGC_ID_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGC_ID_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGC_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGC_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGC_Contact_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGC_Contact_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGC_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGC_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGC_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGC_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PGC_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
