@model IEnumerable<Group8.Models.Evaluator>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Evaluator_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluator_Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluator_ID_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluator_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluator_Contact_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluator_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluator_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluator_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluator_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluator_Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluator_ID_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluator_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluator_Contact_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluator_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluator_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluator_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Evaluator_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Evaluator_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Evaluator_ID })
        </td>
    </tr>
}

</table>
