@model Group8.Models.Interview

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Interview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evaluator.Evaluator_First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evaluator.Evaluator_First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGC.PGC_First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGC.PGC_First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interview_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interview_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interview_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interview_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interview_Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interview_Venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interview_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interview_Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
