@model Group8.Models.PGO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PGO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PGO_First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGO_First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGO_Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGO_Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGO_ID_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGO_ID_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGO_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGO_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGO_Contact_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGO_Contact_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGO_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGO_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGO_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PGO_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PGO_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
